* { 
font-family: 'Muli', sans-serif;
font-weight: 500;
}

body {
    margin: 0;
}

img {
    height: 200px;
}

button {
    width: 150px;
    background-color: #3882f6;
    color: #f9faf9;;
    border-width: 0;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 15px;
    color: #f9faf9;
    padding:20px 100px;
}

.header-logo-links {
    display: flex;
    justify-content: space-between;
    align-self:flex-end;
    margin-bottom: 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.links{
    display: flex;
    gap: 15px;
    align-items: flex-end;
}

.presentation-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.presentation-title-button {
    display: flex;
    flex-direction: column;
}

.presentation-main-text {
    font-size: 48px;
    font-weight: bolder;
}

.presentation-image {
    object-fit: contain;
    height: 250px;
}

.image-descriptions-title {
    text-align: center;
    font-weight:bolder;
    font-size: 36px;
    padding: 30px;
}

.image-description-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.image-description {
    height: 200px;
    border: solid #3882F6;
}

.text-description {
    text-align: center;
    padding: 10px 0;
}

.grey-block {
    background-color: #E5E7EB;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 200px;
}

.quote {
    font-style:italic;
    opacity: 50%;
    font-size: 32px;
}

.quote-author {
    align-self: flex-end;
    font-weight: bold;
}

.blue-block {
    background-color: #3882F6;
    display: flex;
    padding: 40px;
    justify-content: space-around;
    margin: 50px 200px;
}

.call-to-action-title {
    font-weight: bold;
    color: whitesmoke;
    font-size: 24px;
}

.call-to-action-text {
    color: white;
}

.call-to-action-button {
    border-color: white;
    border: solid;
    width: 100px;
}

.credits {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}